body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: $fontColor;
}
html {height: 100%;}

/* Defaults */
.clearfix {display: block; clear: both;}
.img-full {img{width: 100%;}}
.alpha {padding-left: 0px;}
.omega {padding-right: 0px;}
.show-mobile {display: none;}
.hide-mobile {display: block;}
.col-center {float: none; margin: auto;}
h1,h2,h3,h4,h5,p {margin: 0;}
h2 {font-size: 35px;}
h3 {font-weight: 400; margin-bottom: 10px; font-size: 20px;}
a{&:focus,&:hover {outline: none; text-decoration: none;}}
input {-webkit-appearance:none;}

@media screen and (max-width: 786px){
	h2 {font-size: 22px;}
	h3 {font-size: 18px;}
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// @include font-face('arabic', 'GE_Dinar_One_Medium', 'arabic', '.otf','regular');
