.grid-sec {
	.grid-hldr {
		margin: 100px 0px;
		.col-md-4 {padding: 0px 10px;}
		.grid-single {
			position: relative; margin: 10px 0px;
			img {width: 100%;}
			.rollover {
				position: absolute; width: 100%; top: 0; bottom: 0; left: 0; text-align: center;
				background: #389fe1b8; color: #fff;
				opacity: 0;
			    transition: opacity 0.3s ease-in-out;
			    -moz-transition: opacity 0.3s ease-in-out;
			    -webkit-transition: opacity 0.3s ease-in-out;
			    h2 {text-transform: uppercase; margin: 0; font-size: 28px;}
			    h3 {font-weight: 300; margin-top: 0; font-size: 22px;}
			    .outer {display: table; width: 100%; height: 100%;}
			    .inner {display: table-cell; vertical-align: middle;}
			}
			&:hover {
				.rollover {
					opacity: 1.0;
			    	transition: opacity 0.3s ease-in-out;
			    	-moz-transition: opacity 0.3s ease-in-out;
			    	-webkit-transition: opacity 0.3s ease-in-out;
				}
			}
		}
		@include myclearfix();
	}
	.content {
		padding: 0px 60px;
		h2 {}
		h3 {font-size: 20px;}
		p {line-height: 22px;}
	}
	.grid-carousel {
		margin: 120px 0px 100px;
		.owl-dots {
			text-align: center; margin-top: 20px;
			.owl-dot {
				width: 14px; height: 14px; background: #a6a6a6; display: inline-block; border-radius: 100%;
				margin: 0px 3px;
				&.active {background: #222222;}
			}
		}
		.owl-nav {
			position: absolute; top: 47%; width: 100%; height: 0;
			.owl-prev {background: url(../images/arrow.png) no-repeat left; float: left; margin-left: 30px; text-indent: -9999px; width: 30px; height: 40px; background-size: 60px;}
			.owl-next {background: url(../images/arrow.png) no-repeat right; float: right; margin-right: 30px; text-indent: -9999px; width: 30px; height: 40px; background-size: 60px;}
		}
	}
}

.fullimg-cont {
	height: 100%; overflow: hidden;
	img {width: 100%;}
}

@media screen and (max-width: 992px){
	.grid-sec {
		.grid-hldr {
			margin: 50px 0px;
			.col-md-4 {width: 50%; float: left;}
		}
		.grid-carousel {margin: 70px 0px 60px;}
	}
	.fullimg-cont {
		height: auto;
	}
}

@media screen and (max-width: 786px){
	.grid-sec {
		.grid-hldr {
			.grid-single {
				.rollover {
					h2 {font-size: 16px;}
					h3 {font-size: 12px;}
				}
			}
		}
		.content {padding: 15px; h2 {font-size: 22px;}}
	}
}
