.intro {
	background: url(../images/banner.jpg) no-repeat; background-size: cover; height: 100%; overflow: hidden;
	header {@include myclearfix(); margin: 20px 0px; position: relative; z-index: 10;}
	.logo {
		width: 20%; float: left;
		img {width: 100%;}
	}
	.site-nav {
		float: right; display: block;
		ul {margin: 0; padding: 0;}
		li {
			list-style-type: none; display: inline-block; font-size: 18px;
			a {color: #000; padding: 0px 15px;}
			&:last-child {a {padding-right: 0;}}
		}
	}
	.container {height: 100%;}
	.content {
		text-align: center; height: 100%; width: 100%; display: table; position: relative; top: -65px;
		.inner {vertical-align: middle; display: table-cell;}
		h1 {text-transform: uppercase; font-weight: 700; font-size: 72px;}
		h2 {font-weight: 300; font-size: 35px;}
	}
}

@media screen and (max-width: 786px){
	.hamb {display: block;}
	.intro {
		.logo {width: 30%;}
		.site-nav {
			position: absolute; right: 0; background: #ffffff59; padding: 20px; top: 40px; display: none;
			width: 100%; text-align: center;
			li {
				display: block; margin-bottom: 10px;
				a {padding: 0;}
			}
		}
		.content {
			h1 {font-size: 52px;}
			h2 {font-size: 25px;}
		}
	}
}

@media screen and (max-width: 520px){
	.intro {
		.logo {width: 40%;}
		.content {
			h1 {font-size: 34px;}
			h2 {font-size: 18px; margin: 0;}
		}
	}
}